<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title> Sotos Angular Material GridView</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="dist/css/sotos-angular-material-gridview.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-aria.min.js"></script>
    <script src="bower_components/hammerjs/hammer.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="dist/js/sotos-angular-material-gridview.min.js"></script>
    <script src="app.js"></script>
<style>
    sotos-list{
    height: 420px;
    display: block;
    }
    .sotos-list-items{
    overflow:auto;
    height: 350px;

    }
</style>
</head>
<body layout="horizontal" ng-controller="listCtrl">
<md-sidenav layout="vertical" class="md-sidenav-left md-whiteframe-z3" component-id="left" is-locked-open="$media('md')">
    <md-toolbar class="md-theme-light md-medium-tall">
        <h1 class="md-toolbar-tools" style="padding-top:25px;">

            <a href="#" ng-click="goHome()" tabindex="0">Sotos<br>Angular Material GridView</a>
        </h1>
    </md-toolbar>

    <md-content flex class="md-content-padding">
    <h2>id : {{ item.id }}</h2>
<div layout="vertical" >


        <md-input-group >
            <label for="item-title">Title</label>
            <md-input id="item-title" ng-model="item.title"></md-input>
        </md-input-group>
        <md-input-group >
            <label for="item-subtitle">Sub Title</label>
            <md-input id="item-title" ng-model="item.subtitle"></md-input>
        </md-input-group>
        <md-input-group >
            <label for="orderid">Order</label>
            <md-input id="orderid" ng-model="item.orderid"></md-input>
        </md-input-group>

        <md-button ng-show="item.id==0" ng-click="addNew(item)"  class="md-button-raised md-button-colored">
            Add Item
        </md-button>

        <md-button ng-show="item.id>0" ng-click="save(item)" class="md-button-raised md-button-colored md-theme-green">
            Save
        </md-button>
</div>
<div>

<p>items</p>
<p>{{ items | json }}</p>
</div>
    </md-content>
    </md-sidenav>



    <div layout="vertical" layout-fill  tabindex="-1" role="main" >
        <md-toolbar  class="md-theme-dark md-medium-tall app-toolbar">
        <div class="md-toolbar-tools" layout="horizontal">
            <md-button class="md-button  md-theme-light" hide-md ng-click="openLeftMenu()" aria-label="open" >
               Menu
            </md-button>
            <h1 flex><span>Demo List View</span> </h1>
            <md-button flex="20" href="https://github.com/sotospez/sotos-angular-material-gridview" class="md-button-raised md-button-colored md-theme-light-blue">
               <i class="sgv-github"></i>  GitHub
                </md-button>

        </div>


        </md-toolbar>
        <md-content scroll-y="" flex >


        <md-toolbar class="md-theme-orange md-medium-tall app-toolbar">


            <h3  class="md-toolbar-tools">Without Headers</h3>


        </md-toolbar>

     <md-content scroll-y="" flex class="md-content-padding">
         <p> $scope.items=[{id:0,title:'title 0',show:true,flex:5},{id:1,title:'title 2'...}
             ];</p>
                  <sotos-list items="items" ></sotos-list>
     </md-content>

        <md-toolbar class="md-theme-light-blue md-medium-tall app-toolbar">

            <h3 class="md-toolbar-tools">With Headers</h3>

        </md-toolbar>

        <md-content scroll-y="" flex class="md-content-padding">
            <p> $scope.items=[];<br>$scope.headers=[{id:'field name',header:'display name',show:true,flex:5,type:image || icon},{...}
                ];</p>

            <sotos-list items="items" headers-names="headers" showedit="true" on-edit="onEditBtn" ></sotos-list>
        </md-content>

            <md-toolbar class="md-theme-purple md-medium-tall app-toolbar" md-theme="purple">
                <h3 class="md-toolbar-tools">With Headers and buttons enable</h3>
            </md-toolbar>

            <md-content scroll-y="" flex class="md-content-padding">
                <p>&lt;sotos-list&nbsp;items=&quot;items&quot;&nbsp;headers-names=&quot;headers&quot;&nbsp;showdelete=&quot;true&quot;&nbsp;showedit=&quot;true&quot;&nbsp;on-edit=&quot;onEditBtn&quot;&nbsp;on-delete=&quot;onDeleteBtn&quot;&gt;&lt;/sotos-list&gt;</p>
                <sotos-list items="items" headers-names="headers" showdelete="true" showedit="true" on-edit="onEditBtn" on-delete="onDeleteBtn"></sotos-list>
            </md-content>


            <md-toolbar class="md-theme-green md-medium-tall app-toolbar" >
                <h3 class="md-toolbar-tools">With Type  </h3>
            </md-toolbar>
            <md-content scroll-y="" flex class="md-content-padding">
              <sotos-list items="itemsReal" headers-names="headersReal"></sotos-list>
            </md-content>



            <md-toolbar class="md-theme-orange md-medium-tall app-toolbar">
                <h3 class="md-toolbar-tools">Demo Test with parent_id to items</h3>
            </md-toolbar>
            <md-content scroll-y="" flex class="md-content-padding">
            <p>{id:1, parent_id:0,title: ...},
            <br>{id:2, parent_id:1,title: ...}</p>
                <sotos-list-tree items="itemsParent"  ></sotos-list-tree>
            </md-content>

        </md-content>
    </div>


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40719191-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>