    <div  class="sotos-list-item animlist " ng-init="level=level+1"
          ng-repeat="item in items | orderBy:orderbyitem:reverse  | filter:{parent_id:parent} | filter:search">
<div  class="row-item level-{{ level }}" layout="horizontal" layout-align="start center" >
    <sotos-list-item  flex="{{  header.flex}}" item="item" ng-repeat="header in headers|filter:{show:true}" name="header.id">
    </sotos-list-item>

    <div ng-init="parent=item.id" flex="20" class=" buttons" layout="horizontal"  layout-align="end">
        <material-button flex="50" ng-show="showDelete" ng-click="delete(item)"  class="material-button-raised material-theme-red"><i class="sgv-delete"></i> Delete</material-button>
        <material-button flex="50" ng-show="showEdit" ng-click="edit(item)" class="material-button-raised material-theme-light-blue"><i class="sgv-edit"></i> Edit</material-button>
    </div>


</div >

        <div class="child" ng-include="'templates/sotosListTreeItem.html'"></div>

</div>
