<md-toolbar class="md-theme-light-blue ">
    <div class="md-toolbar-tools  " layout="horizontal"  layout-align="start">
        <md-button flex="{{  header.flex}}"   ng-repeat="header in headers|filter:{show:true}"
                   ng-click="orderByField(header.id)">
            {{ header.header }}
            <i class="sgv-unsorted" ng-show="header.id!=orderbyitem"></i>
            <i class="sgv-arrow-up" ng-show="header.id==orderbyitem && reverse==true"></i>
            <i class="sgv-arrow-down" ng-show="header.id==orderbyitem && reverse==false"></i>
        </md-button>
        <div  flex="5"  >
            <md-button  class="md-fab md-primary list-btn-more" ng-class="{isopen:listmenu}" ng-click="listmenu=!listmenu"><i class="sgv-eye"></i></md-button>
            <md-content ng-show="listmenu" class=" md-whiteframe-z2 list-menu ">
                <md-list  role="menu">
                    <md-item   ng-repeat="header in headers">
                        <md-item-content layout="horizontal" layout-align="start center">
                            <md-checkbox ng-model="header.show" aria-label="{{ header.header }}">
                                {{ header.header }}
                            </md-checkbox>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
        </div>
        <div flex="10" class="list-search " >
            <md-text-float  class=" md-input-group-theme-light " flex="5" label="search.." ng-model="search" ></md-text-float>
        </div>
    </div>
</md-toolbar>
<md-content layout-padding>
    <md-list>
        <md-item  ng-repeat="item in items| orderBy:orderbyitem:reverse  | filter:search" >
            <md-item-content layout="horizontal" layout-align="start center"  ng-class-odd="'odd'" ng-class-even="'even'"  >
                <sotos-list-item  flex="{{  header.flex}}" item="item" ng-repeat="header in headers|filter:{show:true}" name="header.id" type="{{ header.type  }}" >
                </sotos-list-item>
                <div flex="15" class=" buttons" layout="horizontal"  layout-align="end">
                    <md-button flex ng-show="showEdit"  ng-click="edit(item)"   class="md-primary"><i class="sgv-edit"></i> Edit</md-button>
                    <md-button flex  ng-show="showDelete" ng-click="delete(item)"    class=" md-warn"><i class="sgv-delete"></i> Delete</md-button>
                </div>
            </md-item-content>
            <md-divider ></md-divider>
        </md-item>

    </md-list>
</md-content>



