<div class="sotos-list" layout="vertical" >
    <div class="sotos-list-header" layout="horizontal"  layout-align="start end">
        <div class="header-text" flex="{{  header.flex}}"
             ng-repeat="header in headers|filter:{show:true}"
             ng-click="orderByField(header.id)">
            {{ header.header }}
            <i class="sgv-unsorted" ng-show="header.id!=orderbyitem"></i>
            <i class="sgv-arrow-up" ng-show="header.id==orderbyitem && reverse==true"></i>
            <i class="sgv-arrow-down" ng-show="header.id==orderbyitem && reverse==false"></i>
        </div>
        <div flex="20" class="search-area" layout="horizontal" layout-align="center center">
            <!-- Single button -->
            <div class="header-list-check btn-group" >
                <material-button  class="material-button-fab btn-list-check " ng-click="dropOpen=!dropOpen"><i class="sgv-eye"></i></material-button>
                <div class="dropdown material-whiteframe-z1" role="menu" layout="vertical" ng-class="{open:dropOpen}">
                    <div ng-repeat="header in headers" >
                        <material-checkbox ng-model="header.show" aria-label="{{ header.header }}">
                            {{ header.header }}
                        </material-checkbox>
                    </div>
                </div>
            </div>
            <material-input-group class="input-group material-input-group-theme-green">
                <label>search.. <i class="sgv-search"></i></label>
                <material-input type="text" ng-model="search" ></material-input>
            </material-input-group>
        </div>
    </div>
</div>

<div class="sotos-list-items" >
    <div  layout="vertical" sotos-list-tree-item></div>
</div>