<md-toolbar class="md-theme-light-blue ">
    <div class="md-toolbar-tools  " layout="horizontal"  layout-align="start">
        <md-button flex="{{  header.flex}}"   ng-repeat="header in headers|filter:{show:true}"
                   ng-click="orderByField(header.id)">
            {{ header.header }}
            <i class="sgv-unsorted" ng-show="header.id!=orderbyitem"></i>
            <i class="sgv-arrow-up" ng-show="header.id==orderbyitem && reverse==true"></i>
            <i class="sgv-arrow-down" ng-show="header.id==orderbyitem && reverse==false"></i>
        </md-button>
        <div  flex="5"  >
            <md-button  class="md-fab md-primary list-btn-more" ng-class="{isopen:listmenu}" ng-click="listmenu=!listmenu"><i class="sgv-eye"></i></md-button>
            <md-content ng-show="listmenu" class="md-whiteframe-z2 list-menu ">
                <md-list  role="menu">
                    <md-item   ng-repeat="header in headers">
                        <md-item-content layout="horizontal" layout-align="start center">
                            <md-checkbox ng-model="header.show" aria-label="{{ header.header }}">
                                {{ header.header }}
                            </md-checkbox>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
        </div>
        <div flex="10" class="list-search " >
            <md-text-float  class=" md-input-group-theme-light " flex="5" label="search.." ng-model="search" ></md-text-float>
        </div>

    </div>
</md-toolbar>

<md-content layout-padding >
            <div sotos-list-tree-item>

            </div>

</md-content>


